blinker==1.7.0
click==8.1.7
flask=3.0.2
flask-migrate=4.0.5
flask-sqlalchemy=3.1.1
sqlalchemy=2.0.27
Jinja2==3.1.3
MarkupSafe==2.1.5
tqdm==4.61.2
Werkzeug==3.0.1
zipp==3.17.0
torch=2.0.0
numpy=1.26.4
yaml=0.2.5
tqdm=4.66.2
pynini=2.1.6
dataclassy=1.0.1
rich=13.7.0
pywrapfst
matcha-tts

