{% extends "base.html" %}

{% block title %} {{ grapheme }} Log{% endblock %}


{% block content %}
  <div class="container" style="padding: 20px;">
    <div class="row">
      <div class="col-md-12">
        <h2>{{ grapheme }} log</h2>
          <div class="grapheme-info"> 
            <p><strong>Current transcription:</strong>{{ phoneme }}<span id="phoneme-value"></span></p> 
            <br>
          </div>
           <table class="table table-striped">
            <thead>
              <tr>
                <th>Date</th>
                <th>From transcription</th>
                <th>To transcription</th>
              </tr>
            </thead>
            <tbody>
              {% for log in grapheme_logs %}
                <tr>
                  <td>{{ log.date_modified.strftime("%Y-%m-%d %H:%m") }}</td>
                  <td>
                    {% if log.from_phoneme %}
                      {{ log.from_phoneme }}
                    {% else %}
                     -
                    {% endif %}
                  </td>
                  <td>{{ log.to_phoneme }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          </div>
      </div>
  </div>

{% endblock %}
