{% macro display_phoneme_input(word, phoneme, audio_name, index, checked, db_phoneme, from_form=False) %}
  {% set audio_url = "../static/audio/" + audio_name + ".wav" %}
  <div class="form-check" onclick="playAudio('{{ audio_url }}')">
    <input type="radio" class="form-check-input" name="{{ word }}" value="{{ phoneme }}" 
        id="{{ word }}_{{ index }}"
        {% if checked %}checked{% endif %}
    >
    <label class="form-check-label" 
        for="{{ word }}_{{ index }}" 
        {% if db_phoneme %} 
          style="color: #006400"
        {% elif from_form %} 
          style="color: #1900ff"
        {% endif %}     
    >
      {{ phoneme }} {% if db_phoneme %} (saved) {% endif %}
    </label>
  </div>
  <audio class="audio" data-src="{{ audio_url }}" id="audioPlayerPhoneme"></audio>
{% endmacro %}
