{% extends "base.html" %}

{% from "phoneme_input.html" import display_phoneme_input %}

{% block title %}G2P Correction{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="../static/css/styles.css">

<!-- Loading Overlay -->
<div id="loadingOverlay" class="loading-overlay" style="display: none;">
    <div class="spinner"></div>
</div>

<!-- IPA Character Popup -->
<div id="ipaPopup" class="ipa-popup" style="display: none;"></div>

<div class="container-fluid">
  <div class="row justify-content-center align-items-center min-vh-100">
    <div class="col-md-8">
      {% if audio %}
        <audio id="audioPlayer" style="display:none;">
          <source src="{{ audio }}" type="audio/wav">
          Your browser does not support the audio element.
        </audio>
        <script>
          document.addEventListener('DOMContentLoaded', function() {
            var audioPlayer = document.getElementById('audioPlayer');
              document.getElementById('loadingOverlay').style.display = 'flex';
                if (audioPlayer) {
                  audioPlayer.play().then(function() {
                    document.getElementById('loadingOverlay').style.display = 'none';
                  })
                  .catch(function(error) {
                    console.error("Audio play failed:", error);
                    // Hide loading overlay on error
                    document.getElementById('loadingOverlay').style.display = 'none';
                  });
                }
              if (audioPlayer) {
                audioPlayer.onended = function() {
                  document.getElementById('listenAgainBtn').style.display = 'inline-block';
                };
              }
          });
          </script>
      {% endif %}
      <div class="card p-4 mb-4">
        <h3 class="text-center mb-4">G2P Correction</h3>
        <form action="{{ url_for('interface.text_to_audio_view') }}" method="POST">
          <div class="input-group mb-3">
            <input type="text" class="form-control" id="inputText" name="text" placeholder="Enter sentence (100 characters maximum)" maxlength="100" {% if text %} value="{{ text }}" {% endif %}>
            <a class="btn btn-secondary" href="{{ url_for('interface.text_to_audio_view') }}">Clear</a>
            <button type="submit" class="btn btn-primary" value="Generate" name="generate">Generate</button>
            <button type="button" class="btn btn-info ml-2" id="listenAgainBtn" style="display: none;" onclick="listenAgain()">
                <img src="../static/icons/ear.svg" alt="Listen Again" style="width: 16px; height: 16px;">
            </button>
          </div>
        {% if word2phonemes %}
          <input type="hidden" name="jsoned_word2phonemes" value='{{ jsoned_word2phonemes }}'>
          <input type="hidden" name="jsoned_word2model_phonemes" value='{{ jsoned_word2model_phonemes }}'>
          <div class="mt-4">
            {% for word, phonemes in word2phonemes.items() %}
              {% if word.isalpha() %}
                {% set db_phoneme = word2db_phoneme[word] %}
                {% set phonemes_from_model = word2model_phonemes[word] %}
                {% set checked_phoneme = word2picked_phoneme[word] %}
                <div class="card mb-3">
                  <div class="card-header" onclick="toggleVariations('{{ word }}')">
                    <button type="button" class="btn btn-link" onkeypress="toggleVariations('{{ word }}')" 
                            onclick="toggleVariations('{{ word }}')"  data-word="{{ word }}">
                      <img onkeypress="toggleVariations('{{ word }}')" onclick="toggleVariations('{{ word }}')" 
                            src="../static/icons/arrow-bar-down.svg" alt="Toggle Variations">
                    </button>
                    {{ word }}
                    {% if word in word2db_phoneme %}
                      {% set grapheme_id = word2grapheme_id[word] %}
                      <a href="{{ url_for('interface.grapheme_log_view', grapheme_id=grapheme_id) }}"><img src="../static/icons/arrow-up-right-square.svg" alt="Grapheme Log"></a> 
                    {% endif %}
                  </div>
                  <div class="card-body" id="{{ word }}_variations" style="display: none;">
                    <div class="form-check">
                      {% if db_phoneme %}
                        {{ display_phoneme_input(
                          word, db_phoneme,
                          index=0, 
                          checked=True,
                          db_phoneme=True,
                          )
                        }}
                      {% endif %}
                      {% for phoneme in phonemes if phoneme != db_phoneme %}
                        {{ display_phoneme_input(
                          word, phoneme,
                          index=loop.index, 
                          checked=phoneme==checked_phoneme,
                          db_phoneme=False,
                          from_form=phoneme not in phonemes_from_model) 
                        }}
                      {% endfor %}
                      <div class="form-check">
                        <input type="radio" class="form-check-input" name="{{ word }}" value="{{ phoneme }}" id="{{ word }}_{{ loop.index }}">
                        <input name="{{ word }}" placeholder="Provide your own" id="input_{{ loop.index }}" autocomplete="off" onkeyup="showIPAPopup(event, '{{loop.index}}')">
                        <input type="checkbox" id="checkbox_{{loop.index}}" name="ipa_{{ word }}"> 
                        <label for="checkbox_{{loop.index}}">IPA?</label> 
                      </div>
                    </div>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
          <div class="button-container">
            <button type="submit" class="btn btn-primary mr-10" value="Regenerate" name="regenerate">Test</button>
            <button type="submit" class="btn btn-success" value="Confirm" name="confirm">Confirm</button>
          </div>
        </form>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<script>
      // IPA Characters Mapping
      const ipaMapping = {
        'a': ['ɑ', 'æ', 'ɐ', 'ʌ'],
        'd': ['ð'],
        'e': ['ə', 'ɚ', 'ɛ', 'ɜ'],
        'i': ['ɪ', 'ᵻ'],
        'n': ['ŋ'],
        'o': ['ɔ', 'œ', 'ɒ',],
        'r': ['ɾ', 'ɹ'],
        's': ['ʃ'],
        't': ['t', 'θ'],
        'u': ['ʊ'],
        'z': ['ʒ'],
        ',': ['ˌ'],
        ':': ['ː']
      };

  function playAudio(audioUrl, word) {
    const audio = new Audio(audioUrl);
    // Show loading overlay
    document.getElementById('loadingOverlay').style.display = 'flex';
    audio.play().then(function() {
        // Hide loading overlay when audio finishes playing
        document.getElementById('loadingOverlay').style.display = 'none';
    }).catch(function(error) {
        console.error("Audio play failed:", error);
        // Hide loading overlay on error
        document.getElementById('loadingOverlay').style.display = 'none';
    });
  }


  function toggleVariations(word) {
    var variationsDiv = document.getElementById(word + "_variations");
    var arrowImg = document.querySelector('[data-word="' + word + '"] img');
    if (variationsDiv.style.display === "none") {
        variationsDiv.style.display = "block";
        document.querySelector('button[data-word="' + word + '"] i');
        arrowImg.src = "../static/icons/arrow-bar-up.svg";
    } else {
        variationsDiv.style.display = "none";
        document.querySelector('button[data-word="' + word + '"] i');
        arrowImg.src = "../static/icons/arrow-bar-down.svg";
    }
  }

  function listenAgain() {
        var audioPlayer = document.getElementById('audioPlayer');
        if (audioPlayer) {
            audioPlayer.currentTime = 0;
            audioPlayer.play()
            .catch(error => console.error("Audio play failed:", error));
        }
    }
    
    function selectRadio(index) {
        document.getElementById(index).checked = true;
    }

    var ipaPopupOpen = false;

    function showIPAPopup(event, index) {
        ipaPopupOpen = true;
        var inputChar = event.target.value.slice(-1);   // get the last input character
        var ipaOptions = ipaMapping[inputChar];         // get the mapping options
        if (ipaOptions && ipaOptions.length > 0) {
            var popup = document.getElementById('ipaPopup');
            popup.innerHTML = ''; 
            // generate option buttons based on the character
            ipaOptions.forEach(function(ipaChar) {
                var button = document.createElement('button');
                button.textContent = ipaChar;
                button.onclick = function() {
                    insertIPA(ipaChar, index);
                };
                popup.appendChild(button);
            });
            // set position for popup
            var inputField = document.getElementById("input_" + index);
            var caretPosition = getCaretPosition(inputField);
            var inputRect = event.target.getBoundingClientRect();
            // Calculate the position of the popup
            var topOffset = inputRect.top + window.pageYOffset + 30; // Adjust as needed
            var leftOffset = inputRect.left + window.pageXOffset + caretPosition.left;

            // Set the position of the popup
            popup.style.top = topOffset + 'px';
            popup.style.left = leftOffset + 'px';
            popup.style.display = 'block';
            if (ipaPopupOpen) {
                // Add event listener for TAB key press
                document.addEventListener('keydown', tabKeyHandler)
            }
        } else {
            hideIPAPopup();
        }
    }
    
    function tabKeyHandler(event) {
        if (event.key === 'Tab') {
            // If IPA popup is visible, focus on the first button in the popup
            if (document.getElementById('ipaPopup').style.display === 'block') {
                event.preventDefault(); // Prevent default TAB behavior
                // Get all buttons in the IPA popup
                var buttons = document.querySelectorAll('#ipaPopup button');
                var focusedButton = document.activeElement;
                var index = Array.from(buttons).indexOf(focusedButton);
                // If no button is focused or the focused button is the last one, focus on the first button
                if (index === -1 || index === buttons.length - 1) {
                    buttons[0].focus();
                } else { // Focus on the next button
                    buttons[index + 1].focus();
                }
            }
        }
    }
    // Function to get the caret position in the input field
    function getCaretPosition(inputField) {
        var selection = window.getSelection();
        var range = selection.getRangeAt(0);
        var rect = range.getBoundingClientRect();
        return {
            top: rect.top,
            left: rect.left
        };
    }
    // insert selected character into input field
    function insertIPA(ipaChar, index) {
        var inputField = document.getElementById("input_" + index);
        inputField.value = inputField.value.slice(0, -1) + ipaChar; 
        inputField.focus();
        hideIPAPopup(); 
    }

    function hideIPAPopup() {
        document.getElementById('ipaPopup').style.display = 'none';
        ipaPopupOpen = false;
    }
</script>

{% endblock %}