{% extends "base.html" %}

{% block title %}G2P Correction{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="../static/css/styles.css">

<div class="container-fluid">
    <div class="row justify-content-center align-items-center min-vh-100">
        <div class="col-md-8">
            {% if audio %}
                <audio id="audioPlayer" style="display:none;">
                    <source src="{{ audio }}" type="audio/aac">
                    Your browser does not support the audio element.
                </audio>
                <script>
                    document.addEventListener('DOMContentLoaded', function() {
                        var audioPlayer = document.getElementById('audioPlayer');
                        if (audioPlayer) {
                            audioPlayer.play()
                            .catch(error => console.error("Audio play failed:", error));
                        }
                    });
                </script>
            {% endif %}
            <div class="card p-4 mb-4">
                <h3 class="text-center mb-4">G2P Correction</h3>
                <form action="{{ url_for('interface.text_to_audio') }}" method="POST">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="text" placeholder="Enter sentence (10 words maximum)" maxlength="100" {% if text %} value="{{ text }}" {% endif %}>
                        <button type="submit" class="btn btn-primary">Generate</button>
                    </div>
                </form>
                {% if word2phoneme_audio %}
                    <form action="{{ url_for('interface.text_to_audio')}}" method="POST">
                        <div class="mt-4">
                            <h5>Choose the phoneme considered to be wrong:</h5>
                            {% for word, phoneme_audios in word2phoneme_audio.items() %}
                            <div class="card mb-3">
                                <div class="card-header">{{ word }}</div>
                                <div class="card-body">
                                    <div class="form-check">
                                        {% for phoneme_audio in phoneme_audios %}
                                            {% set phoneme, audio = phoneme_audio %}
                                        <div class="form-check">
                                            <input type="radio" class="form-check-input" name="selected_word_{{ word }}" value="{{ word }}" id="{{ word }}_{{ loop.index }}"
                                                {% if selected_word == word %}checked{% endif %}>
                                            <label class="form-check-label" for="{{ word }}_{{ loop.index }}" onclick="playAudio('{{audio}}', '{{word}}')">{{ phoneme }}</label>
                                            <input type="hidden" name="selected_phoneme_{{ word }}" value="{{ phoneme }}">
                                        </div>
                                            
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-success">Confirm</button>
                        </div>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<script>
    function playAudio(audioUrl, word) {
        const audio = new Audio(audioUrl);
        audio.play()
        // Select the radio button associated with the word
        // Select the radio button associated with the word
        document.querySelector('input[name="selected_word_' + word + '"]').checked = true;
        // document.querySelector('input[name="selected_word"][value="' + word + '"]').checked = true;
    }
</script>

{% endblock %}
