{% extends "base.html" %}

{% block title %}G2P Correction{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="../static/css/styles.css">

<div class="container-fluid">
  <div class="row justify-content-center align-items-center min-vh-100">
    <div class="col-md-8">
      {% if audio %}
        <audio id="audioPlayer" style="display:none;">
            <source src="{{ audio }}" type="audio/wav">
            Your browser does not support the audio element.
        </audio>
        <script>
          document.addEventListener('DOMContentLoaded', function() {
              var audioPlayer = document.getElementById('audioPlayer');
              if (audioPlayer) {
                  audioPlayer.play()
                  .catch(error => console.error("Audio play failed:", error));
                }
              if (audioPlayer) {
                    audioPlayer.onended = function() {
                        document.getElementById('listenAgainBtn').style.display = 'inline-block';
                };
                }
          });
          </script>
      {% endif %}
      <div class="card p-4 mb-4">
        <h3 class="text-center mb-4">G2P Correction</h3>
        <form action="{{ url_for('interface.text_to_audio_view') }}" method="POST">
          <div class="input-group mb-3">
            <input type="text" class="form-control" id="inputText" name="text" placeholder="Enter sentence (100 characters maximum)" maxlength="100" {% if text %} value="{{ text }}" {% endif %}>
            <button type="button" class="btn btn-secondary" onclick="clearInput()">Clear</button>
            <button type="submit" class="btn btn-primary" value="Generate" name="generate">Generate</button>
            <button type="button" class="btn btn-info ml-2" id="listenAgainBtn" style="display: none;" onclick="listenAgain()">
                <img src="../static/icons/ear.svg" alt="Listen Again" style="width: 16px; height: 16px;">
            </button>
          </div>
        {% if word2phonemized %}
          <input type="hidden" name="jsoned_word2phonemized" value='{{ jsoned_word2phonemized }}'>
          <div class="mt-4">
            <div id="loadingOverlay" class="loading-overlay">
              <div class="spinner"></div>
            </div>
            <h5>Choose the phoneme considered to be wrong:</h5>
            {% for word, phonemes in word2phonemized.items() %}
              {% if word.isalpha() %}
                <div class="card mb-3">
                  <div class="card-header" onclick="toggleVariations('{{ word }}')">
                    <button type="button" class="btn btn-link" onkeypress="toggleVariations('{{ word }}')" onclick="toggleVariations('{{ word }}')"  data-word="{{ word }}">
                      <img onkeypress="toggleVariations('{{ word }}')" onclick="toggleVariations('{{ word }}')" src="../static/icons/arrow-bar-down.svg" alt="Toggle Variations">
                    </button>
                    {{ word }}
                  </div>
                  <div class="card-body" id="{{ word }}_variations" style="display: none;">
                    <div class="form-check">
                      {% for phoneme in phonemes %}
                        {% set checked_phoneme = word2picked_phoneme[word] %}
                        <div class="form-check">
                          <input type="radio" class="form-check-input" name="{{ word }}" value="{{ phoneme }}" 
                                  id="{{ word }}_{{ loop.index }}"
                                {% if phoneme == checked_phoneme %}checked{% endif %}>
                          <label class="form-check-label" for="{{ word }}_{{ loop.index }}" onclick="playAudio('{{audio}}', '{{word}}')">{{ phoneme }}</label>
                        </div>
                      {% endfor %}
                      <div class="form-check">
                        <input type="radio" class="form-check-input" name="selected_word_{{ word }}" value="{{ word }}" id="{{ loop.index }}">
                        <label class="form-check-label" for="{{ loop.index }}">
                            <input onclick="selectRadio('{{loop.index}}')" name="selected_phoneme_{{ word }}" value="{{ phoneme }}" placeholder="Provide your own">
                        </label>
                      </div>
                      
                    </div>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
          <div class="button-container">
            <button type="submit" class="btn btn-primary mr-10" value="Regenerate" name="regenerate">Test</button>
            <button type="submit" class="btn btn-success" value="Confirm" name="confirm">Confirm</button>
          </div>
        </form>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<script>
  function playAudio(audioUrl, word) {
    const audio = new Audio(audioUrl);
    // Show loading overlay
    document.getElementById('loadingOverlay').style.display = 'flex';
    audio.play().then(function() {
        // Hide loading overlay when audio finishes playing
        document.getElementById('loadingOverlay').style.display = 'none';
    }).catch(function(error) {
        console.error("Audio play failed:", error);
        // Hide loading overlay on error
        document.getElementById('loadingOverlay').style.display = 'none';
    });
  }


  function toggleVariations(word) {
    var variationsDiv = document.getElementById(word + "_variations");
    var arrowImg = document.querySelector('[data-word="' + word + '"] img');
    if (variationsDiv.style.display === "none") {
        variationsDiv.style.display = "block";
        document.querySelector('button[data-word="' + word + '"] i');
        arrowImg.src = "../static/icons/arrow-bar-up.svg";
    } else {
        variationsDiv.style.display = "none";
        document.querySelector('button[data-word="' + word + '"] i');
        arrowImg.src = "../static/icons/arrow-bar-down.svg";
    }
  }

  function clearInput() {
    document.getElementById('inputText').value = '';
    document.getElementById('listenAgainBtn').style.display = 'none'; // hide listen again icon
  }

  function listenAgain() {
        var audioPlayer = document.getElementById('audioPlayer');
        if (audioPlayer) {
            audioPlayer.currentTime = 0;
            audioPlayer.play()
            .catch(error => console.error("Audio play failed:", error));
        }
    }
    
    function selectRadio(index) {
        document.getElementById(index).checked = true;
    }
</script>

{% endblock %}